/*  Community Theme Styling */
/*  Created Originally By donvoo(https://github.com/donvoo) & greySynapse(https://github.com/greySynapse) */
/*  Edited By: Power Of Mad(https://github.com/PowerOfMad) */

/********/
/*HEADER*/
/********/

/* Room History & RCS Skip Button */


#playlist-panel {
  opacity: 0.9;
}

#app-menu .list:hover > .community,
#app-menu .list:hover > a:nth-child(2) > .events,
#app-menu .list:hover > a:nth-child(3) > .support,
#app-menu .list:hover > a:nth-child(4) > .blog,
#app-menu .list:hover > a:nth-child(5) > .about,
#app-menu .list:hover > a:nth-child(6) > .api, 
#app-menu .list:hover > a:nth-child(7) > .terms,
#app-menu .list:hover > a:nth-child(8) > .privacy,
#app-menu .list:hover > .logout {
  opacity: 0.3;
}
/* Plug Logo Menu */
/*Vėliavos */
/*#app-menu .button, 
#app-menu .list {
  background: linear-gradient(to bottom, rgba(253,185,19,1) 0%,rgba(0,106,68,1) 44%,rgba(193,39,45,1) 100%) !important;
}
*/
.slider .line, #user-settings .slider .bar {
	background: linear-gradient(to right, hsl(120,100%,50%), hsl(0,100%,50%)) !important;
}
#user-settings .slider .bar {
	width: calc(100% - 1px) !important;
}
.slider .circle, #user-settings .slider .circle {
	background: #fff !important;	
	box-shadow: inset 0 0 10px rgba(0,0,0,.4);
}
#app-menu .button, 
#app-menu .item, 
#app-menu .logout {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#app-menu {
  opacity: 0.95;
}

#app-menu .community,
#app-menu .events, 
#app-menu .support, 
#app-menu .blog, 
#app-menu .about, 
#app-menu .api, 
#app-menu .terms, 
#app-menu .privacy {
  opacity: 0.8;
}

/* Room Meta (From Community Name to History Button) */

/* Chat Header */
#chat-header {
  background: rgba(0, 0, 0, 1) !important;
}

#chat-header #chat-sound-button,
#chat-header #chat-emoji-button,
#chat-header #chat-timestamp-button,
#chat-header #chat-popout-button,
#chat-header #chat-mentions-button,
#chat-header #rcs-clearchat {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/* Header Selected Item + Titles */
#app .header-panel-button.selected {
  background: rgb(3, 0, 7) !important;
}

#chat-header,
#user-lists .header,
#waitlist .header,
#app .friends .list-header {
  background: rgb(3, 0, 7) !important;
} 

/************/
/*SCROLL BAR*/
/************/

/* Entire Bar */
#chat-messages::-webkit-scrollbar {
  width: 12px !important;
}
 
/* Track */
#chat-messages::-webkit-scrollbar-track {
  -webkit-border-radius: 3px !important;
  background-color: rgba(150, 150, 150, 0.2) !important;
}
/* Track Hover */
#chat-messages::-webkit-scrollbar-track:hover {
  background-color: rgba(150, 150, 150, 0.2) !important;
}
 
/* Handle */
#chat-messages::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px !important;
  background-color: rgba(150, 150, 150, 1) !important;
}
/********/
/*FOOTER*/
/********/

/* Footer Bar */
/*#footer {
  /*background: rgb(3, 0, 7) !important;
        background: linear-gradient(0deg,#13002f 0,#002149 169%,#111317 100%) !important;
}
*/
/* Footer Buttons Static */
#footer-user .inventory,
#footer-user .badge,
#footer-user .store,
#footer-user .profile,
#footer-user .settings {
  background: rgb(3, 0, 7) !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* WOOT GRAB MEH */
#meh, #woot, #grab {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#vote:hover > #woot, 
#vote:hover > #grab, 
#vote:hover > #meh {
  opacity: 0.75;
}

#vote #woot:hover, 
#vote #grab:hover, 
#vote #meh:hover {
  opacity: 1;
}

/* DJ */
#dj-button .left {
  background: rgba(40,44,53,1) !important;
}

#dj-button {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#dj-button:hover {
  opacity: 1;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1) !important;
  -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1) !important;
  -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1) !important;
  box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1) !important;
}
/* Chat Message Fadein */
/*#chat .emote:nth-child(n+1),
#chat .log:nth-child(n+1),
#chat .mention:nth-child(n+1), 
#chat .message:nth-child(n+1),
#chat .moderation:nth-child(n+1),
#chat .skip:nth-child(n+1), 
#chat .update:nth-child(n+1),
#chat .user-action:nth-child(n+1),
#chat .welcome:nth-child(n+1) {
  -webkit-animation: fadein 0.35s;
  -moz-animation: fadein 0.35s;
  -o-animation: fadein 0.35s;
  animation: fadein 0.35s;
} 
 */
#user-rollover {
  opacity: 0.95;
  background: rgba(28, 28, 28, 1) !important;
}
/*Dashboard*/
#dashboard .favorites, 
#dashboard .cell, 
#dashboard .join, 
#dashboard .bar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#dashboard .cell {
  opacity: 0.75;
}
/* Video Player Background */
#playback .background {
  visibility: visible;
}

/******/
/*CHAT*/
/******/
/*Kosmo edit*/

.app-right #chat-input,
.input-background {
	border-radius: 20px;
	background: linear-gradient(to top, hsla(220,100%,15%,.7), hsla(220,100%,10%,.7));
}
.focused {
	color: #EEE !important;
	box-shadow: inset 0 0 0 1px #05F !important;
	background: linear-gradient(to top, hsl(220,100%,30%), hsl(220,100%,20%)) !important;
}
#chat-input-field {
	color: #888 !important;
	font-weight: bold;
}
#chat-input.focused #chat-input-field{
	color: #EEE !important;
}

/*### [message] ###*/

#chat .cm {
	animation: fadein .35s;
}
#chat .cm {
	background: linear-gradient(hsla(220,10%,20%,.5), hsla(220,10%,15%,.5));
	box-shadow: inset 1px 1px 0 hsla(220,10%,20%,.8);
}
#chat .cm.message:nth-child(odd) {
	background: linear-gradient(hsla(220,10%,10%,.5), hsla(220,10%,12%,.5));
	box-shadow: inset 1px 1px 0 hsla(220,10%,5%,.8);
	color: #ccc;
}
#chat .cm.message .timestamp {
	color: #818285;
}
#chat .cm .badge-box {
	background: transparent !important;
}
#chat .cm .delete-button {
	border-radius: 4px;
	background: linear-gradient(hsl(0,0%,30%), hsl(0,0%,40%));
	box-shadow: inset 0 0 0 1px hsl(0,0%,50%);
}
#chat .cm .delete-button:hover {
	background: linear-gradient(hsl(5,100%,60%), hsl(5,100%,50%));
	box-shadow: 0 0 10px hsl(5,100%,50%);
	color: #000;
}
/* /me Messages / Emotes */
#chat .emote .text {
  color: rgba(125, 96, 206, 1) !important;
  font-weight: bold !important;
}

#chat .emote .msg {
  background: rgba(45, 27, 97, 0.1) !important;
}

#user-menu .avatar,
#user-menu .profile,
#user-menu .inventory,
#user-menu .store,
#user-menu .friends,
#user-menu .played,
#user-menu .community,
#user-menu .settings {
  opacity: 0.85;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Inventory*/

#user-inventory .jspPane .cell {
  opacity: 0.55 !important;
}


#user-inventory .row {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}


/*Store*/

#user-store .jspPane .cell {
  opacity: 0.55 !important;
}

/*Friends*/
#user-friends .list .row, 
#user-friends .list .row .buttons .positive,
#user-friends .list .row .buttons .negative {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#user-friends .list .row:hover {
  opacity: 1 !important;
}
/*Communities*/
#user-communities .cell, 
#user-communities .join, 
#user-communities .bar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#user-communities .cell {
  opacity: 0.75;
}

#footer-user .back {
  background: rgb(3, 0, 7) !important;
  opacity: 0.55;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Dialog*/
#dialog-media-update,
#dialog-playlist-rename, 
#dialog-playlist-delete,
#dialog-playlist-create,
#dialog-delete {
  opacity: .85;
}

#dialog-media-update > .dialog-body,
#dialog-media-update > .dialog-frame,
#dialog-playlist-rename > .dialog-body,
#dialog-playlist-rename > .dialog-frame,
#dialog-playlist-delete > .dialog-body,
#dialog-playlist-delete > .dialog-frame,
#dialog-playlist-create > .dialog-body,
#dialog-playlist-create > .dialog-frame,
#dialog-delete > .dialog-body,
#dialog-delete > .dialog-frame {
  opacity: .85;
}

#dialog-user-role,
#dialog-ban-user,
#dialog-mute-user,
#dialog-gift-send {
  opacity: 1;
}

#dialog-user-role .role-menu .menu li:nth-child(n+1),
#dialog-ban-user .dialog-body .duration .toggle,
#dialog-ban-user .dialog-body .duration .toggle.day,
#dialog-ban-user .dialog-body .duration .toggle.forever,
#dialog-ban-user .dialog-body ul li:nth-child(n+1),
#dialog-ban-user .dialog-body li .radio,
#dialog-mute-user .dialog-body .duration .toggle.short,
#dialog-mute-user .dialog-body .duration .toggle.medium,
#dialog-mute-user .dialog-body .duration .toggle.long,
#dialog-mute-user .dialog-body ul li:nth-child(n+1),
#dialog-mute-user .dialog-body li .radio {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


#dialog-user-role .dialog-frame:hover > .button.cancel,
#dialog-user-role .dialog-frame:hover > .button.submit,
#dialog-ban-user .dialog-frame:hover > .button.cancel,
#dialog-ban-user .dialog-frame:hover > .button.submit,
#dialog-mute-user .dialog-frame:hover > .button.cancel,
#dialog-mute-user .dialog-frame:hover > .button.submit,
#dialog-gift-send .dialog-frame:hover > .button.submit,
#dialog-gift-send .dialog-frame:hover > .button.cancel {
  opacity: 0.4;
}

/***************/
/*NAME STYLINGS*/
/***************/

/*Randomas*/
[data-cid^="6110426"].cm .msg .from .un, #user-lists .list .role-user.id-6110426 .name {
  color: rgba(22, 196, 228, 1) !important;
}
/*Akira Luna*/
[data-cid^="4652147"].cm .msg .from .un, #user-lists .list .role-manager.id-4652147 .name {
  color: rgba(244, 0, 188, 1) !important;
}
/*Velnias*/
/*
[data-cid^="4090785"].cm .msg .from .un, #user-lists .list .role-host.id-4090785 .name {
  color: rgba(66,165,220, 1) !important;
}
.cm.role-dj.4090785 .msg .from .un, #user-lists .list .role-host.id-4090785 .name 
{
    color: #42A5DC !important;
}

.id-4090785 .msg .from .icon-chat-host, #user-lists .list.room .user.id-4090785 .icon-chat-host
{
    background: url("https://i.imgur.com/jHp5cmc.png") !important;
}

/*******************/
/*Badges*/
/*******************/

/***STAFF***/

/**Gerdutė**/
/*#chat-messages .id-3579906 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/wKvKa43.png')!important;
  background-size: cover;
} */
/**Power-Of-Mad**/
#chat-messages .id-3525229 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/cxWgmeZ.gif') !important;
  background-size: cover;
}
/**Rimve**/
#chat-messages .id-4206645 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/FZWUxiW.jpg') !important;
  background-size: cover;
}
/**-VelnioSąžinė**/
#chat-messages .id-4090785 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/CROLHyi.gif') !important;
  background-size: cover;
}
/**Lietuvos Botas**/
#chat-messages .id-3529452 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/nFr0EBq.png') !important;
  background-size: cover;
}
/**MR.Ruthless**/
#chat-messages .id-3896066 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/o47RXle.png') !important;
  background-size: cover;
}
/**GGGirtuoklisss**/
#chat-messages .id-4030669 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/sKyCsVp.jpg') !important;
  background-size: cover;
}
/**-Vabaliukas_Ul**/
/*#chat-messages .id-3857513 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/v0vuYIc.png') !important;
  background-size: cover;
} */

/**TBPS**/
#chat-messages .id-4105132 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/pEqwtkQ.jpg') !important;
  background-size: cover;
}
/**Hollywood_Star**/
#chat-messages .id-13445492 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/Yjq0OS6.jpg') !important;
  background-size: cover;
}
/**-Santa`**/
/*#chat-messages .id-3992792 .badge-box i.bdg {
  background-image: url('http://i.imgur.com/zLc4lsV.jpg')!important;
  background-size: cover;
} */
/**-Pandou**/
#chat-messages .id-4281529 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/NFBglvh.png')!important;
  background-size: cover;
}
/**MrEdgaras*/
#chat-messages .id-3419951 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/XhtRJpl.png') !important;
  background-size: cover;
}
/**Akira**/
#chat-messages .id-4652147 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/BrtN40N.jpg') !important;
  background-size: cover;
}
/**Plytaa**/
#chat-messages .id-5035147 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/nQBcAFK.jpg') !important;
  background-size: cover;
}
/**-ElectroHouse**/
#chat-messages .id-4002022 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/xOr3QtF.jpg') !important;
  background-size: cover;
}
/***NON STAFF***/
/**EdvinasK20**/
#chat-messages .id-14001764 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/ht4k46L.gif') !important;
  background-size: cover;
}
/**Randomas**/
#chat-messages .id-6110426 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/j8wGUtf.gif') !important;
  background-size: cover;
}
/**Filbertas**/
#chat-messages .id-13474152 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/guPJRn6.jpg') !important;
  background-size: cover;
}
/**-Vyšnia**/
/*#chat-messages .id-5928547 .badge-box i.bdg {
  background-image: url('https://apps.ubuntu.com/site_media/icons/2013/06/_usr_share_icons_hicolor_scalable_apps_cherrytree.png') !important;
  background-size: cover;
}*/

/**-sherif**/
#chat-messages .id-3611882 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/R86eFt3.jpg') !important;
  background-size: cover;
}
/**Chuckorris**/
/*#chat-messages .id-13186343 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/suVtM76.jpg') !important;
  background-size: cover;
}

/**♫Black&WhiteTiger♫ **/
/*#chat-messages .id-14001764 .badge-box i.bdg {
  background-image: url('') !important;
  background-size: cover;
}
*/

/**************/
/*TEST SECTION*/
/**************/


/*******/
/*VIP's*/
/*******/

/*Naught Fox*/
/*.cm.role-dj.id-3765403 .msg .from .un, #user-lists .list .role-dj.id-3765403 .name 
{
    color: #FF8F00 !important;
}

.id-3765403 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-3765403 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*EternityMusic*/

/*.cm.role-dj.id-5073762 .msg .from .un, #user-lists .list .role-dj.id-5073762 .name 
{
    color: #FF8F00 !important;
}

.id-5073762 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5073762 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*DJ Yazora*/

/*.cm.role-dj.id-5025604 .msg .from .un, #user-lists .list .role-dj.id-5025604 .name 
{
    color: #FF8F00 !important;
}

.id-5025604 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5025604 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}


/*******/
/*ROLES*/
/*******/
.icon-chat-host + span {
    color: #fdb913 !important;
}
.icon-chat-cohost + span {
    color: #fdb913 !important;
}
.icon-chat-manager + span {
    color: #006a44 !important;
}
.icon-chat-bouncer + span {
    color: #c1272d !important;
}
.icon-chat-dj + span {
    color: #6669ff !important;
}
.icon-chat-subscriber + span {
    color: #dd7a44 !important;
}
.icon-chat-silver-subscriber + span {
    color: #a1a6b3 !important;
}
.cm.role-dj .from .un, .role-dj .name
{
        color: #6669ff !important;
}
.icon-chat-dj 
{
    background: url("https://i.imgur.com/EsEu6mi.png") !important;
}
.cm.role-bouncer .from .un, .role-bouncer .name
{
        color: #c1272d !important;
}
.icon-chat-bouncer 
{
    background: url("https://i.imgur.com/dDTrbos.png");
}
.cm.role-manager .from .un, .role-manager .name
{
        color: #006a44 !important;
}
.icon-chat-manager 
{
    background: url("https://i.imgur.com/fPY5b4v.png");
}
.cm.role-cohost .from .un, .role-cohost .name, .cm.role-host .from .un, .role-host .name
{
        color: #fdb913 !important;
}
.cm.is-subscriber:not(.silver) .from .un, .is-subscriber:not(.silver) .name
{
   color: #dd7a44 !important;
}
.icon-chat-subscriber 
{
  background: url("https://i.imgur.com/29t2aO8.png");
}
.icon-chat-host 
{
    background: url("https://i.imgur.com/LEo1zvQ.png");
}
